@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.warehouse-details {
  background-color: white;
  padding: 2rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include divider;
  }

  &__name {
    display: flex;
    align-items: center;
  }

  &__edit-button {
    margin: 1rem;
    background-color: $primary-indigo;
    color: white;
    border-radius: 50%;
    border: none;
    padding: 0.5rem;
  }

  &__back-button {
    height: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    @include divider;
  }
}

.content__title {
  color: $secondary-cloud;
}
.content__contact-box {
  display: flex;
  justify-content: space-between;
}
