$tablet-breakpoint: 768px;

$desktop-breakpoint: 1280px;

$semi-bold: 600;

$regular: 400;

$primary-black: #13182c;

$primary-indigo: #2e66e5;

$primary-white: #ffffff;

$secondary-slate: #5c667e;

$secondary-cloud: #bdc5d5;

$background-graphite: #232940;

$background-light-grey: #f7f8f9;

$supporting-green: #158463; // Updated supporting green
$supporting-green-opacity: rgba(
  21,
  132,
  99,
  0.07
); // Supporting green with 7% opacity

$supporting-red: #c94515; // Updated supporting red
$supporting-red-opacity: rgba(
  201,
  69,
  21,
  0.07
); // Supporting red with 7% opacity
