@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/global" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styling */
body {
  background: linear-gradient(
    rgba(35, 41, 64, 1) 250px,
    rgba(255, 255, 255, 1) 250px
  );
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header Section */
.header-container {
  min-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: linear-gradient(
    90deg,
    $background-graphite,
    $background-graphite
  );
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include tablet {
    flex-direction: row;
    padding: 1rem;
    margin: 0;
  }

  &__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include tablet {
      flex-direction: row;
      justify-content: start;
    }
  }

  &__logo {
    margin-bottom: 20px;
    object-fit: contain;
    @include tablet {
      margin: 0;
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      gap: 5%;
    }
  }

  &__tab {
    font-weight: bold;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    color: #b0c4de;
    transition: color 0.3s ease;
    width: auto;
    text-align: center;

    &:hover {
      color: #ffffff;
    }

    &--active {
      background-color: $primary-black;
      color: #ffffff;
    }
  }
}
