/* src/components/WarehouseList/WarehouseList.scss */
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.warehouse-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  /* Header row for tablet and desktop view */
  &__header-row {
    display: none; /* Hidden on mobile */
    padding: 10px;
    background-color: $background-light-grey;
    border-bottom: 1px solid #ddd;
    color: $secondary-slate;

    @include tablet {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
    }

    @include desktop {
      padding: 12px 24px;
    }
  }

  /* Row styling for individual warehouse items */
  &__row {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: $primary-black;

    &:hover {
      background-color: rgba($primary-indigo, 0.07);
    }

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 20px;
      text-align: left;
      max-width: 100%;
    }

    @include desktop {
      padding: 20px 24px;
    }
  }

  &__name-link {
    text-decoration: none;
    color: $primary-indigo;
    font-weight: 600;
  }

  /* Set up each list item to align with header columns */
  &__item {
    margin-bottom: 5px;

    /* Consistent width and alignment for table-like structure */
    @include tablet {
      margin-bottom: 0;
      max-width: 9.375rem;
      flex: 1;
      text-align: left;
    }
  }

  &__item--actions {
    text-align: right;
    display: flex;
    justify-content: space-between;

    @include tablet {
      display: block;
    }
  }

  /* Mobile-only header item styling */
  &__header-item {
    margin-bottom: 5px;
    color: $secondary-slate;

    &__header-item--mobile {
      display: none;
      position: absolute;
    }
  }

  /* Button styling for delete and edit */
  &__button {
    cursor: pointer;
    border: none;
    background-color: white;
    width: 1.5rem;
    margin: 0 0.5rem;
  }
}

/* Form field styles */
input,
select,
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;

  @include mobile-text-field-styling;

  @include tablet {
    @include tablet-text-field-styling;
  }

  @include desktop {
    @include tablet-text-field-styling;
  }
}

/* Search input styling */
.search-input {
  @include mobile-search-styling;

  @include tablet {
    @include tablet-search-styling;
  }
}

/* Adjust content-box for different views */
.warehouse-list__content-box {
  display: flex;
  flex-direction: row;

  @include tablet {
    display: contents; /* Remove the wrapper on tablet and desktop views */
  }
}

.list-column {
  display: flex;
  flex-direction: column;
  margin-right: 6rem;

  @include tablet {
    margin-right: 0;
    display: contents; /* Adjust for table layout */
  }
}

.item-chevron {
  padding-left: 0.25rem;
}

.item-box {
  display: flex;
  align-items: center;
}

.header-row__title-box {
  display: flex;
  align-items: center;
}

.warehouse-list__header-item {
  margin-right: 0.25rem;
}

.warehouse-list__header-item--bold {
  font-weight: 600;
}
