@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/global" as *;

.footer {
  min-width: 100vw;
  color: $secondary-slate;
  text-align: center;
  padding: 20px;
 &__text{
  margin: 0;
  font-size: 1rem;

 }
}
