@use "./styles/partials/variables.scss" as *;
@use "./styles/partials/mixins.scss" as *;
@use "./styles/partials/global.scss" as *;
@use "./styles/partials/typography" as *;
body {
  background: linear-gradient(
    rgba(35, 41, 64, 1) 200px,
    rgba(247, 248, 249, 1) 200px 1154px
  );
  margin: 0;
  font-family: "Titillium Web";
}
main {
  overflow-y: overlay;
  height: 65rem;
  width: 100%;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  width: 100%;
}
